* {
  box-sizing: border-box !important;
}

html,
body {
  height: 100vh;
}

table {
  display: table;
  text-indent: initial;
  border-spacing: 2px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

th {
  text-align: inherit;
}

tr {
  font-weight: normal;
}

.h-10 {
  height: 10%;
}

.h-90 {
  height: 90%;
}

.sticky {
  position: sticky;
}

.h-100-fixed {
  height: 100vh;
  max-height: 100%;
}

.flex-fill {
  flex: 1;
}

.scrollable {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.scroll-x {
  overflow-x: auto;
}

.red {
  color: #e06150;
}

.yellow {
  color: #d18c49;
}

.green {
  color: #89c379;
}

.line-space {
  line-height: 1.5;
}

.fit-content {
  width: fit-content;
}

.sidebar a {
  color: rgb(154, 154, 154);
}

.sidebar a:hover {
  color: var(--primary);
}

.sidebar a:active {
  color: var(--primary);
}

.table {
  border-collapse: collapse;
  caption-side: bottom;
  border-color: #dee2e6;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  border-bottom-width: 1px;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: currentColor;
}

.gambar {
  background-image: url("abst.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gambar2 {
  background-image: url("abst2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.square {
  width: 75px;
  height: 75px;
  background: #f5f5f5;
}

.square2 {
  width: 75px;
  height: 75px;
  background: #a4a4a4;
}
