* {
  box-sizing: border-box !important;
}

html,
body {
  height: 100vh;
}

table {
  display: table;
  text-indent: initial;
  border-spacing: 2px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

th {
  text-align: inherit;
}

tr {
  font-weight: normal;
}

.h-10 {
  height: 10%;
}

.h-90 {
  height: 90%;
}

.sticky {
  position: sticky;
}

.h-100-fixed {
  height: 100vh;
  max-height: 100%;
}

.flex-fill {
  flex: 1;
}

.scrollable {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.scroll-x {
  overflow-x: auto;
}

.bg-blur {
  background: rgba(238, 238, 238, 0.25);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.red {
  color: #e06150;
}

.yellow {
  color: #d18c49;
}

.green {
  color: #89c379;
}

.line-space {
  line-height: 1.5;
}

.fit-content {
  width: fit-content;
}

.sidebar {
}

.sidebar a {
  color: rgb(154, 154, 154);
  transition-duration: 0.4s;
}

.sidebar a:hover {
  color: var(--primary);
  transition-duration: 0.4s;
  margin-left: var(--size-1);
}

.sidebar a:active {
  color: var(--primary);
}

.table {
  border-collapse: collapse;
  caption-side: bottom;
  border-color: #dee2e6;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  border-bottom-width: 1px;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: currentColor;
}

.border {
  border-width: 1px;
}

.border-radius-xs {
  border-radius: var(--size-xs);
}

.border-radius-sm {
  border-radius: var(--size-sm);
}

.border-radius {
  border-radius: var(--size-1);
}

.border-radius-md {
  border-radius: var(--size-2);
}
